In [6]:
import pandas as pd

In [7]:
file_path = 'resultados_secao_absolutos/EDUARDO_DA_COSTA_PAES.csv'
ESTADO = 'RJ' # uppercase

In [8]:
data = pd.read_csv(file_path, index_col=0)
name = file_path.split(r'/')[1].split('.')[0]

In [9]:
data_filtered = data.loc[data['percentual_votos'] < 1].sort_values('percentual_votos', ascending=False)

In [10]:
import tse

database = 'databases/eleicoes_2024.sql'
analise = tse.TseAnalysis(
    database={
        'path': database,
        'alias': 'geral'
    })

analise.attach_database([])

Bancos carregados:
0) main
-path: d:\projects\tse-data\databases\eleicoes_2024.sql
--tables:
-- locais
-----
2) geral
-path: d:\projects\tse-data\databases\eleicoes_2024.sql
--tables:
-- locais
-----

In [11]:
query = f"""
    SELECT
        NR_LOCAL_VOTACAO AS local,
        NR_ZONA AS zona,
        NR_SECAO AS secao,
        NR_LATITUDE AS latitude,
        NR_LONGITUDE AS longitude,
        QT_ELEITOR_SECAO as eleitores
    FROM
        geral.locais
    WHERE
        SG_UF = '{ESTADO}'
"""
locais = pd.read_sql(query, analise.conn)
locais.head()

   local  zona  secao   latitude  longitude  eleitores
0   1252   185    136 -22.890469 -43.355049        406
1   1341    14    164 -22.887664 -43.302503        446
2   1120   245    130 -22.891374 -43.596135        392
3   1074   185     37 -22.896886 -43.352532        459
4   1023   219     10 -22.844798 -43.339370        390

In [12]:
data_map = pd.merge(
    data_filtered,
    locais,
    how='inner',
    on=['local', 'zona', 'secao']
)
data_map.head()

,candidato,municipio,local,zona,secao,turno,votos_recebidos,ds_grau_escolaridade_ensino_médio_incompleto,ds_grau_escolaridade_superior_completo,ds_grau_escolaridade_ensino_fundamental_incompleto,...,ds_faixa_etaria_16_anos,ds_faixa_etaria_inválida,ds_genero_feminino,ds_genero_masculino,ds_genero_não_informado,eleitores_totais,percentual_votos,latitude,longitude,eleitores
0,EDUARDO DA COSTA PAES,60011,1350,204,135,1,183,38,19,41,...,0,0,80,104,0,184,0.994565,-22.895588,-43.184027,184
1,EDUARDO DA COSTA PAES,60011,1350,204,139,1,177,34,14,43,...,0,0,85,98,0,183,0.967213,-22.895588,-43.184027,183
2,EDUARDO DA COSTA PAES,60011,1252,204,68,1,169,34,17,29,...,0,0,86,90,0,176,0.960227,-22.910139,-43.192384,176
3,EDUARDO DA COSTA PAES,60011,1724,211,342,1,202,93,5,54,...,3,0,124,98,0,222,0.909910,-22.993033,-43.252195,222
4,EDUARDO DA COSTA PAES,60011,1350,204,137,1,160,26,12,56,...,0,0,89,94,0,183,0.874317,-22.895588,-43.184027,183